{% template title_bar %}
{% liquid 
assign item = items | first

%}
<div class="title_bar">
  <span class="title text-stroke">Data breaches</span>
  <span class="instance text-stroke">Latest entry: {{item.AddedDate | date : "%s" | plus: offset | date: "%Y-%m-%dT%H:%M:%S%z" |l_date: "short", locale}}</span>
</div>
{% endtemplate %}
{% liquid 
assign offset = trmnl.user.utc_offset
assign all_breaches = data | sort: "AddedDate" | reverse
assign items = all_breaches | slice: 0, 10
%}
{% template item_template %}
{% liquid 
assign row_by_2 = current_index | modulo: 2
assign item_timestamp = item.AddedDate | date: "%s"
assign now_timestamp = "now" | date: "%s"
assign seconds_old = now_timestamp | minus: item_timestamp
assign is_new = seconds_old <= 86400
  %}
  <div class="item item--emphasis-{{ current_index | modulo: 2 | plus: 2 }} border--h-5 pb--2">
    <div class="meta"></div>
    <div class="content">
      <div class="flex flex--row gap--xsmall">
        {% if item.LogoPath and item.LogoPath != blank %}
        <img class="image layout--center image--dither image--contain w--max-{{image_max}} h--max-{{image_max | times: 3 }}" src="{{item.LogoPath}}" alt="{{ item.Title }}" />
        {% endif %}
        <div class="flex flex--col gap--xsmall flex--left">
          <div class="title title--small  p--0 m--0">{{ item.Title }}  <span class="label label--outline ml--1 p--1">
            {% assign count = item.PwnCount %}
            {% if count >= 1000000000 %}
            {% assign formatted = count | divided_by: 1000000000.0 | round: 1 %}
            {{ formatted | remove: ".0" }}B
            {% elsif count >= 1000000 %}
            {% assign formatted = count | divided_by: 1000000.0 | round: 1 %}
            {{ formatted | remove: ".0" }}M
            {% elsif count >= 1000 %}
            {% assign formatted = count | divided_by: 1000.0 | round: 1 %}
            {{ formatted | remove: ".0" }}K
            {% else %}
            {{ count }}
            {% endif %}</span>
          </div>
          {% if item.DataClasses and item.DataClasses.size > 0 %}
          <div class="description text--small text--gray-20 text--left  p--0 m--0" data-clamp="2">
            {{ item.DataClasses | join: " • " }}
          </div>
          {% endif %}
          {% if compact %}
          {% else %}
          <div class="description text-stroke p--0 m--0" data-clamp="{{description_lines}}">{{ item.Description }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endtemplate %}
  {% template columns %}
  <div class="layout layout--col layout--stretch grayscale">
    <div class="flex flex--col" data-overflow="true">
      {% for item in items %}
      {% assign current_index = forloop.index | plus: start_index %}
      {% render "item_template", item: item, current_index: current_index, description_lines: description_lines, image_max: image_max, timestamp_utc:timestamp_utc, compact: compact %}
      {% endfor %}
    </div>
  </div>
  {% endtemplate %}
  <style>
    .grayscale {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
  </style>